<div class="blog">
	<div class="blog-item" *ngFor="let post of posts;">
		<h3 (click)="goToPost(post?.slug)">{{post?.title.rendered}}</h3>
	</div>
	<div class="blog-item" *ngFor="let post of posts;">
		<h3 (click)="goToPost(post?.slug)">{{post?.title.rendered}}</h3>
	</div>
	<div class="blog-item" *ngFor="let post of posts;">
		<h3 (click)="goToPost(post?.slug)">{{post?.title.rendered}}</h3>
	</div>
	<div class="blog-item" *ngFor="let post of posts;">
		<h3 (click)="goToPost(post?.slug)">{{post?.title.rendered}}</h3>
	</div>
	<div class="blog-item" *ngFor="let post of posts;">
		<h3 (click)="goToPost(post?.slug)">{{post?.title.rendered}}</h3>
	</div>
	<div class="blog-item" *ngFor="let post of posts;">
		<h3 (click)="goToPost(post?.slug)">{{post?.title.rendered}}</h3>
	</div>
	<div class="blog-item" *ngFor="let post of posts;">
		<h3 (click)="goToPost(post?.slug)">{{post?.title.rendered}}</h3>
	</div>
	<div class="blog-item" *ngFor="let post of posts;">
		<h3 (click)="goToPost(post?.slug)">{{post?.title.rendered}}</h3>
	</div>
	<div class="blog-item" *ngFor="let post of posts;">
		<h3 (click)="goToPost(post?.slug)">{{post?.title.rendered}}</h3>
	</div>
	<div class="blog-item" *ngFor="let post of posts;">
		<h3 (click)="goToPost(post?.slug)">{{post?.title.rendered}}</h3>
	</div>
</div>