/** Root variables
 * Table of content:
 * - 1. Fonts
 * - 2. Colors
 * - 3. Misc
 */
:root {
	/** 1. Fonts
	 * --------- */
	--ys-font-size-base: $font-size-base;
	--ys-line-height-base: 1.2;

	/** 2. Colors
	 * --------- */
	@media (prefers-color-scheme: dark) {

		@each $name,
		$color in $colors-dark {
			--ys-#{$name}-color: #{$color};
		}
	}

	@media (prefers-color-scheme: light) {

		@each $name,
		$color in $colors-light {
			--ys-#{$name}-color: #{$color};
		}
	}

	/** 3. Misc
 	 * --------- */
	--ys-border-radius: 50px;
	--ys-gutter: 50px;
}