html {
	font-size: var(--ys-font-size-base);
	line-height: var(--ys-line-height-base);
}

body {
	font-size: 1rem;
	color: var(--ys-body-color);
	background-color: var(--ys-background-color);

	@include media-breakpoint-down('xl') {
		background-color: red;
	}
}