$breakpoints: ('xs': 480, 'sm': 768, 'md': 940, 'lg': 1200, 'xl': 1366);

/** Min Width Breakpoints
 * ---------------------- */
@mixin media-breakpoint-up($media: 'sm') {
	$size: map-get($breakpoints, $media);

	@media(min-width: #{$size}px) {
		@content;
	}
}

/** Max Width Breakpoints
 * ---------------------- */
@mixin media-breakpoint-down($media: 'sm') {
	$size: map-get($breakpoints, $media) - 1;

	@media(max-width: #{$size}px) {
		@content;
	}
}